// Design breakpoints
$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

// Primary
$cyan: hsl(179, 62%, 43%);
$yellow: hsl(71, 73%, 54%);

// Neutral
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Karla;
  font-size: 16px;
  justify-content: center;
  margin: 0;
  width: 100%;

  .content-block {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    padding: 20px 30px;

    &--header {
      @extend .content-block;
      background-color: white;
      h2 {
        color: $cyan;
      }
      .accent {
        color: $yellow;
        margin: 0px;
      }
      .description {
        color: $grayish-blue;
        margin: 20px 0px;
      }
    }
    &--subscription {
      @extend .content-block;
      background-color: $cyan;
      color: white;

      .price-line {
        display: flex;
        align-items: center;
        margin: 10px 0px;
        .price {
          font-size: 40px;
          font-weight: bold;
        }

        .time-period {
          margin-left: 10px;
        }

      }

      button {
        background-color: $yellow;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        margin: 20px 0px;
        padding: 10px;
      }
    }
    &--company-info {
      @extend .content-block;
      background-color: $cyan;
      color: white;
      opacity: 0.8;

      text {
        margin: 5px 0px;
      }
    }
  }
}